menu "SensMonitor modem"

    choice SMONITOR_MODEM_MODEL
        prompt "Modem model"
        default SMONITOR_MODEM_MODEL_SIM7000

        config SMONITOR_MODEM_MODEL_SIM7000
            bool "SIM7000"
    endchoice

    choice SMONITOR_MODEM_BOARD
        prompt "Board profile"
        default SMONITOR_MODEM_BOARD_LILYGO_T_SIM7000G

        config SMONITOR_MODEM_BOARD_LILYGO_T_SIM7000G
            bool "LilyGO T-SIM7000G"
    endchoice

    config SMONITOR_MODEM_UART_TX_PIN
        int "Modem UART TX pin"
        default 27
        range 0 39

    config SMONITOR_MODEM_UART_RX_PIN
        int "Modem UART RX pin"
        default 26
        range 0 39

    config SMONITOR_MODEM_UART_RTS_PIN
        int "Modem UART RTS pin"
        default 25
        range 0 39

    config SMONITOR_MODEM_UART_CTS_PIN
        int "Modem UART CTS pin"
        default 23
        range 0 39

    config SMONITOR_MODEM_PWRKEY_PIN
        int "Modem PWRKEY pin"
        default 4
        range 0 39

endmenu
